.slider-caption.slider-caption-center.slider-text .slider-text__container,
.slider-caption.slider-caption-center.slider-text .slider-text--thick,
.slider-caption.slider-caption-center.slider-text .slider-text--thin,
.slider-caption.slider-caption-center.slider-text .slider-text--medium
{
    font-family: Roboto;
    color: inherit;
    letter-spacing: 3px;
}
.slider-caption.slider-caption-center.slider-text .slider-text__container {
    font-size: 6rem;
}

@media (max-width: 991px) {
    .slider-caption.slider-caption-center.slider-text .slider-text__container{
        font-size: 4rem;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .slider-caption.slider-caption-center.slider-text .slider-text__container{
        font-size: 3rem;
    }
}
@media (max-width: 575px) {
    .slider-caption.slider-caption-center.slider-text .slider-text__container{
        font-size: 1.7rem;
    }
}
.slider-caption.slider-caption-center.slider-text .slider-text__subtext {
    font-size: 2rem;
}
.slider-caption.slider-caption-center.slider-text .slider-text--thick {
    font-weight: 400;
}
.slider-caption.slider-caption-center.slider-text .slider-text--thin {
    font-weight: 100;
}
.slider-caption.slider-caption-center.slider-text .slider-text--medium {
    font-weight: 300;
}

#top-search-trigger {
    display: none !important;
}
/* Форма обратного звонка */
@media (max-width: 991px) {
    #top-search-trigger-button {
        display: none !important;
    }
    #top-search-trigger {
        display: block !important;
    }
}
#recallMe .col-padding { padding: 50px; }

/*#page-title.page-title-dark .white-bg h1 {
    color: #444 !important;
}
#page-title.page-title-dark .white-bg span {
    color: #777;
}*/
.gallery-name {
    color: #444;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    /*padding: 10px;*/
    /*background-color: #fffbfc;*/
    /*position: absolute;*/
    /*top: 440px;*/
    /*right: 15px;*/
}
.gallery-link {
    text-align: center;
}

.footer-logo.dm-footer {
    padding-bottom: 0;
    margin-bottom: 0;
}
.dm-widgets-wrap {
    font-size: 1rem;
}
.dm-collection-name {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    border: 1px solid #C02942;
    padding: 4px 6px;
    background-color: #C02942;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#primary-menu.dm-primary-menu ul li:hover > a, #primary-menu.dm-primary-menu ul li.current > a {
    color: #b51a34;
}

.dark.dm-primary-menu #primary-menu:not(.not-dark) ul ul, .dark.dm-primary-menu #primary-menu:not(.not-dark) ul li .mega-menu-content, #primary-menu.dark.dm-primary-menu ul ul, #primary-menu.dark.dm-primary-menu ul li .mega-menu-content {
    border-top-color: #af1a33;
}
